<div class="footer_section layout_padding">
  <div class="container">
    <div class="footer_logo">
      <a href="index.html"><img src="/assets/images/footer-logo.png" /></a>
    </div>
    <div class="footer_menu">
      <ul>
        {% for item in site.data.navigation %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="contact_menu">
      <ul>
        <li>
          <a href="#"><img src="/assets/images/call-icon.png" /></a>
        </li>
        <li><a href="#">Call : +01 1234567890</a></li>
        <li>
          <a href="blog.html"><img src="/assets/images/mail-icon.png" /></a>
        </li>
        <li><a href="features.html">demo@gmail.com</a></li>
      </ul>
    </div>
  </div>
</div>
