<div class="footer_section layout_padding">
  <div class="container">
    <div class="footer_logo site-title">
      <a class="site-title footer_logo" href="index.html">SumitPati7</a>
    </div>
    <div class="footer_menu">
      <ul class="footer-nav">
        {% for item in site.data.navigation %}
        <li><a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="contact_menu">
      <ul class="footer-nav">
        <li>
          <a href="tel:+9779843803325" title><img src="{{site.baseurl}}/assets/images/call-icon.png" /></a>
        </li>
        <!-- <li><a href="tel:+9779843803325">Call : +977 9843803325</a></li> -->
        <li>
          <a href="mailto:sumitpati7@gmail.com"><img src="{{site.baseurl}}/assets/images/mail-icon.png" /></a>
        </li>
        <!-- <li><a href="mailto:sumitpati7@gmail.com">sumitpati7@gmail.com</a></li> -->
      </ul>
    </div>
  </div>
</div>
