.flashcards{
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    grid-template-columns: repeat(4, 3fr);
}

.flashcard{
    width: 250px;
    height: 200px;
    perspective: 300px;
}

.flashcard div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 1em;
    color: #ccc;
    background: #333;
    transition: transform 0.8s;
}

.flashcard .question {
    transform: rotateY(0deg);
}

.flashcard .answer {
    transform: rotateY(180deg);
    position: absolute;
    background: #ccc;
    color: #333;
}

.flashcard:hover .question{
    transform: rotateY(-180deg);
}
.flashcard:hover .answer{
    transform: rotateY(0deg);
}

.flashcard.flipped .question {
    transform: rotateY(-180deg);
  }
  
  .flashcard.flipped .answer {
    transform: rotateY(0deg);
  }

@media screen and (max-width: 1600px) {
    .flashcards{
        grid-template-columns: repeat(3, 3fr);
    }
}

@media screen and (max-width: 1330px) {
    .flashcards{
        grid-template-columns: repeat(2, 3fr);
    }
}

@media screen and (max-width: 870px) {
    .flashcards{
        grid-template-columns: repeat(1, 3fr);
        place-items: center;
    }

    .flashcard div{
        font-weight: 700;
    }
}
  