<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.name }}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <link rel="stylesheet" href="{{ site.baseurl }}assets/css/flashcard.css">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
      <link rel="stylesoeet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <div class="header_section">
    {% include header.html %}
    </div>
    <div class="display-area">{{content}}</div>
    <!-- {% include flashcard.html %} -->
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script> -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/assets/js/jquery-3.0.0.min.js"></script> -->
    <script src="{{ site.baseurl }}/assets/js/plugin.js"></script>
    <script src="{{ site.baseurl }}assets/js/flashcard.js"></script>
    <!-- sidebar -->
    <script src="{{ site.baseurl }}/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
    <!-- javascript --> 
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>